.green-background {
    background: linear-gradient(90deg, #FF8C40 50%, #cc7033 100%, #b2622c 100%);
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
    src: url("../fonts/Lequire.otf");
    font-family: 'Lequire';
    font-variant: normal;
    font-weight: normal;
}

@font-face {
    src: url("../fonts/Louis\ George\ Cafe.ttf");
    font-family: 'Louis';
    font-variant: normal;
    font-weight: normal;
}

.lequire {
    font-family: 'Lequire';
}

.george {
    font-family: 'Louis';
}

.width-fix {
    width: 800px;
}

.search-btn{
    color:#8F222D;
    border-color:#8F222D;
}
.search-btn:hover{
    color:#fff;
    background-color:#8F222D;
    border-color:#8F222D;
}
.btn-check:focus+.search-btn,.search-btn:focus{
    box-shadow:0 0 0 .25rem rgba(220,53,69,.5)
}
.btn-check:active+.search-btn,.btn-check:checked+.search-btn,.search-btn.active,.search-btn.dropdown-toggle.show,.search-btn:active{
    color:#fff;
    background-color:#8F222D;
    border-color:#8F222D;
}
.btn-check:active+.search-btn:focus,.btn-check:checked+.search-btn:focus,.search-btn.active:focus,.search-btn.dropdown-toggle.show:focus,.search-btn:active:focus {
    box-shadow:0 0 0 .25rem rgba(220,53,69,.5)
}
.search-btn.disabled,.search-btn:disabled{
    color:#8F222D;
    background-color:transparent;
}

.login-container {
    height: 80vh;
    padding: auto;
}

.night-mode {
    background: linear-gradient(120deg, #080f1c 10%, #050A12 40%, #070918 100%)
}

.h-fc {
    height: fit-content;
}